PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=qwe2683144
DB_NAME=qa_community
E2E_DB_NAME=qa_community_e2e
JWT_SECRET=replace_me_access_secret
JWT_EXPIRES_IN=15m
REFRESH_SECRET=replace_me_refresh_secret
REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
